:host {
  ::ng-deep {
    .p-card .p-card-title {
      color: var(--primary-700);
    }
.registrar-conta {
  text-decoration: none
}
body.center-form {
  min-height: 100vh;
}

div.center-form {
  position: relative;
  min-height: 100vh;
}

div.center-form > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
  }
}
