    <div class="center-form" >
      <form [formGroup]="form" >
        <div class="grid ">
        <p-card
          header="CONTROLE"
          subheader="Faça login com sua conta existente!"
          styleClass="mt-10 shadow-8 col surface-200 text-indigo-800"

        >

        <div class="flex justify-content-center align-content-center text-align-center ">
          <input type="text" pInputText placeholder="E-mail" formControlName="email"/>
        </div>

        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="password" pInputText placeholder="senha" formControlName="password"/>
        </div>

        <div class=" card flex justify-content-center  mt-3" >
            <button pButton pRipple label="Entrar" [disabled]="this.form.invalid" (click)="authUser()"></button>
        </div>

        <a routerLink="/create-login" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold registrar-conta">
          Criar conta
        </a>
      </p-card>

        </div>
      </form>
    </div>
